<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1> Welcome to Week 4!
</h1>
</br>
<h2 href="index.html">Home</h2>
<h3>The available tasks are:
    <table>
        <tr>
            <td>Name</td>
            <td>Due Date</td>
            <td>Description</td>
        </tr>
        <% for ( var i = 0; i < listDb.length;i++){ %>
        <tr>
            <td>
                <%= listDb[i].taskName %>
            </td>
            <td>
                <%= listDb[i].taskDueDate %>
            </td>
            <td>
                <%= listDb[i].taskDescription %>
            </td>
        </tr>
        <% }%>
    </table>
    <a href="/">Home</a>
    <a href="/newtask">Add New Task</a> <br>
</h3>
</body>
</html>